@charset "utf-8";
/* CSS Document*/

body	{
		font-family: sans-serif, Times;
		background-color: #000000;
} /*defines background color and font for all pages*/

#wrapper {
		width: 100%;
		background-color: #000000;
		padding-top: 20px;
		padding-bottom: 20px;
}/*defines wrapper style*/

#banner {
		color:  #e60000;
		text-align: center;
		border-bottom: 3px #ccccb3 ridge;
		margin-right: 50px;
} /*defines the style and appearance of the heading and navigation area on each page*/

hr {
	margin-top: 102px; 
	border-style: 3px #ccccb3 ridge; 
	margin-left: 15px;
} /*horizontal line between the header and columns*/

h1	{
	color:  #e60000;
	text-align: center;
} /*heading font*/

h2 {
	color: #e60000; float: left; 
	padding: 145px 15px 0 20px; 
} /*subheading font*/

nav	{
	text-align: center;
	padding-bottom: 20px;
	font-size: 1.2em;
} /*navigation links; text and position*/

nav a:link {color: #e60000;}
nav a:visited {color: #0000e6;}
nav a:hover {color: #ccccb3;} 
nav a {text-decoration: none;}
/*styles for nav links when clicked or hovered over*/

a:link {color: #e60000;}
a:visited {color: #e60000;}
a:hover {color: #0000e6;}
a {text-decoration: none;}

p {
	color: #ccccb3;
	padding-right: 30px;
	width: 1000px;
}/*style for paragraphs on each page*/

strong {
	font-weight: bold;
	color: #e60000;
	font-size: 1.0em;
}

table, td, th {
	border: 2px #ccccb3 ridge;
} /*table style, includes header and content, events page*/

th, td {
	padding: 10px;
}/*table header and content, events page*/

table {
	margin-top: 30px;
}/*table, events page*/

label {
	float:left; 
	margin-left: .8em;
	color: #ccccb3;
	width: 8em;
	display: block;
}/*contact form field labels, contact page*/

input {
	color: #e60000; 
	font-style: bold;
}/*contact form input boxes, exludes comment box, contact page*/

textarea {
	display: block;
	width: 18em;
	color: #e60000;
}/*input box for form comment area, contact page*/

figcaption {
	color: #ccccb3;
	font-size: .9em;
} /*font/text on the caption under the video, media page*/

.text {color: #e60000;} /*text color in the table header*/
.text1 {color: #0000e6;} /*text color in the table columns*/

#leftcontainer {
		height: 500px; 
		float: left; 
		margin-top: 20px;
		border-right: 3px #ccccb3 ridge;
		background-color: #000000;
} /*titles listed on the left of each page*/

#midcontainer {
		margin-left: 550px;
		padding-top: 10px;
		background-color: #000000;
}/* content on each page*/

#rightcontainer {
		background-color: #000000;
		margin-left: 550px;
		padding-top: 100px;
}/*another area for content on each page*/

#bribo {
		float: right;
		margin: 0 20px 5px; 5px;
		border: 1px #ccccb3 solid;
}/*photo on about page*/

.clearleft {
		clear: left;
}/*floats paragraph to the right of pic on about page*/

.footer {
		color: #ccccb3;
		text-align: center;
		font-size: .70em;
		margin: 10% 2.5% 0% 2.5%
  		right: 0;
  		bottom: 0;
  		left: 0;
  		padding: 50px;
  		background-color: #000000;
 } /*copright, webmaster info on each page*/

@media (max-width: 768px) {
	h1 {height: 100%;
		font-size: 1.5em;
		padding-left: 0.3em;}
	h2 {display: none;}
	hr {display: none;}
 	nav {padding: 0px;}
 	nav a {display: block;
 		font-size: 1.0em;
}
 	nav ul {margin: 0px;
 		padding: 0px;}
 	nav li { display: block;
 		margin: 0px;
 		padding: 0px;}
 	p {text-align: center;
 		display: block;
 		max-width: 100%
 }
 	div ul {list-style-position: outside;}
 	img	{height: auto;
 		 display: block;
}
 	textarea {-webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	   	width: 13em;
}
 	#midcontainer {padding: 0; 
 		margin: 0;}
 	#rightcontainer {width: 100%;}
 	#wrapper {width: 100%} 
}/*@media area contains css styles for mobile phones, tablets, etc.*/